{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}
<p>Home Content TKP</p>
<p>Home Content TKP</p>
<p>Home Content TKP</p>
<p>Home Content TKP</p>
<p>Home Content TKP</p>
<p>Home Content TKP</p>
<p>Home Content TKP</p>
<p>Home Content TKP</p>
<p>Home Content TKP</p>
<p>Home Content TKP</p>
<p>Home Content TKP</p>
{% endblock %}
