<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^$ https://tenkepoder.com/es [R=302,L]
    #HTTP-HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://tenkepoder.com/es/$1 [R=301,L,QSA]
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>