.home-text-top {
	font-family: 'Indie Flower', cursive;
}

#home::after {
	background-color: rgba(0,0,0,0.75);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	content: '';
}
.homeLogo {
	font-family: 'Poiret One', cursive;
    text-transform: uppercase!important;
    font-size: 160px!important;
    line-height: 160px!important;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6), 3px 3px 5px rgba(0,0,0,.3)!important;
    font-weight: 900!important;
    color: #fff!important;
}
.homeLogo span,
span.orange {
	color: #EC572C;
}