<footer>
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-lg-6">
                    <div class="tp-contact wow fadeInUp" data-wow-delay="300ms">
                        <div class="main-banner-text title-hd">
                            <span>{% trans %}Motivación{% endtrans %}</span>
                            <h1>{% trans %}Estamos en contacto {% endtrans %}<span></span></h1>
                            <p class="bdy">{% trans %}Estamos agradecidos de saber que estás interesado en nuestros servicios. Contáctanos{% endtrans %}</p>
                            <a href="{{ path('contact') }}" class="" title="{% trans %}Escríbenos{% endtrans %}"><i class="fa fa-envelope-o fa-2x mt-3" aria-hidden="true"></i></a>
                            <a href="tel:+34695807868" class="" title="{% trans %}Llámanos{% endtrans %}"><i class="fa fa-phone-square fa-2x mt-3" aria-hidden="true"></i></a>
                            {% if is_mobile() %}
                                <a href="https://wa.me/34695807868"><i class="fa fa-whatsapp fa-2x mt-3" aria-hidden="true"></i></a>
                            {% endif %}
                            <a href="https://www.facebook.com/tenkepoder" target="_blank" title="Facebook"><i class="fa fa-facebook-official fa-2x mt-3" aria-hidden="true"></i></a>
                            <a href="https://www.instagram.com/tenkepoder" target="_blank" title="Instagram"><i class="fa fa-instagram fa-2x mt-3" aria-hidden="true"></i></a>
                        </div><!--title-hd end-->
                        <div class="clearfix"></div>
                    </div><!--tp-contact end-->
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-sec wow fadeInDown" data-wow-delay="300ms">
                        <div class="testi-head"></div>
                        <p>{% trans %}Nunca nos damos por vencidos. Los desafíos nos hacen más fuertes y profesionales. Hacemos tus ideas posibles...{% endtrans %}</p>
                        <!-- SnapWidget -->
                        <h5 style="color:#e5e7ed" class="mt-5 mb-3">{% trans %}Seguinos en Instagram{% endtrans %} <a href="https://www.instagram.com/tenkepoder/" style="color:#DD4242" target="_blank">@tenkepoder</a></h5>
                       <!-- SnapWidget -->
                        <script src="https://snapwidget.com/js/snapwidget.js" async defer></script>
                        <iframe src="https://snapwidget.com/embed/863565" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;width:100%; "></iframe>
                        </div><!--testimonial-sec end-->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!--top-footer end-->
        <div class="bottom-footer">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="widget widget-about wow fadeInUp" data-wow-delay="300ms">
                        <img src="{{ asset('images/logo.webp') }}" alt="TKP - Ten Ke Poder" loading="lazy">
                        <p>Copyright © {{ "now"|date("Y") }} TKP.</p>
                    </div><!--widget-about end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="widget widget-para wow fadeInDown" data-wow-delay="600ms">
                        <h3 class="widget-title">{% trans %}Horario:{% endtrans %}</h3>
                        <p>{% trans %}Lun - Vi: 9hs - 18hs Sáb, Dom: Cerrado{% endtrans %}</p>
                    </div><!--widget-para end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="widget widget-para wow fadeInUp" data-wow-delay="900ms">
                        <h3 class="widget-title">{% trans %}Dirección:{% endtrans %}</h3>
                        <p>{% trans %}Primo de Rivera 12, Alicante, 03002, España{% endtrans %}</p>
                    </div><!--widget-para end-->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="widget widget-para wow fadeInDown" data-wow-delay="1200ms">
                        <h3 class="widget-title">{% trans %}Contáctanos:{% endtrans %}</h3>
                        <span><a href="tel:+34695807868">+34 695 80 78 68</a></span>
                        <p><a href="mailto:info@tenkepoder.com">info@tenkepoder.com</a></p>
                    </div><!--widget-para end-->
                </div>
            </div>
        </div><!--bottom-footer end-->
    </div>
    <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button" style="position:fixed;bottom: 25px;right: 25px;display: none;z-index:9; padding:2px 4px;"><i class="fa fa-chevron-up"></i></a>
</footer><!--footer end-->
