{% extends 'base.html.twig' %}

{% block title %}Ten Ke Poder{% endblock %}

{% block content %}
<section class="pager-sec text-right pb-75 bg-0">
	<div class="container-fluid">
		<ul>
			<li><a href="#" title="">Home</a></li>
			<li><a href="#" title="">Case</a></li>
			<li><span>Case work</span></li>
		</ul>
	</div>
</section><!--pager-sec end-->

<section class="cases-section black-bg">
	<div class="page-content">
		<div class="fixed-bg bg7"></div>
		<h2 class="page-number">01.</h2>
		<div class="container">
			<div class="main-banner-text mw-100 title-hd wow fadeInUp mgb-100" data-wow-delay="300ms">
				<span>portfolio</span>
				<h1>Website design for OP company</h1>
			</div><!--title-hd end-->
			<div class="case-work-page">
				<div class="case-thumbnail">
					<img src="images/resources/img.jpg" alt="" class="w-100">
					<div class="cz-controls">
						<a href="#" title="" class="float-left">prev</a>
						<a href="#" title="" class="float-right">next</a>
						<div class="clearfix"></div>
					</div><!--cz-controls end-->
				</div><!--case-thumbnail end-->
				<div class="case-content">
					<h3>About Project</h3>
					<p>The agency builds personal brands for entrepreneurs and corporates. We built a page with all kind of information about the service, examples of results, case studies, testimonials of old clients and pricing packages. We like to build new websites especially for any kind of marketing agencies. At this time we created a landing page for marketing agency.</p>
					<ul class="mg-list">
						<li>
							<h3>Client:</h3>
							<span>OP Company</span>
						</li>
						<li>
							<h3>Start date:</h3>
							<span>Mar 21, 2020</span>
						</li>
						<li>
							<h3>Category:</h3>
							<span>UI/UX Design</span>
						</li>
						<li>
							<h3>Finish date:</h3>
							<span>Apr 21, 2020</span>
						</li>
					</ul>
					<div class="clearfix"></div>
					<a href="#" title="" class="btn-default">Visit website</a>
					<a href="#" title="" class="st-btn"><img src="images/share.svg" alt="">  Share</a>
				</div><!--case-content end-->
			</div><!--case-work-page end-->
		</div>
	</div><!--about-in-details end-->
</section><!--about_us_section end-->

<section class="sec-block3">
	<div class="fixed-bg bg4"></div>
	<h2 class="page-number">02.</h2>
	<div class="container">
		<div class="section-head">
			<div class="main-banner-text title-hd wow fadeInUp" data-wow-delay="300ms">
				<span>portfolio</span>
				<h1>Related cases <span></span></h1>
				<p class="bdy">We always try to implement our creative ideas at the highest level. You can see it by looking at our portfolio.</p>
			</div><!--title-hd end-->
			<a href="cases.html" title="" class="btn-default2">view all cases <img src="images/icon4.svg" alt=""></a>
			<div class="clearfix"></div>
		</div>
		<div class="pft-items">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 col-12">
					<div class="pft-item wow fadeInUp" data-wow-delay="300ms">
						<img src="images/resources/pt1.jpg" alt="">
						<div class="figcaption">
							<h2><a href="#" title="">Web site design for curious company</a></h2>
							<a href="#" title=""><img src="images/icon9.svg" alt=""></a>
						</div><!--figcaption end-->
					</div><!--pft-item end-->
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-12">
					<div class="pft-item wow fadeInUp" data-wow-delay="600ms">
						<img src="images/resources/pt2.jpg" alt="">
						<div class="figcaption">
							<h2><a href="#" title="">Web site design for curious company</a></h2>
							<a href="#" title=""><img src="images/icon9.svg" alt=""></a>
						</div><!--figcaption end-->
					</div><!--pft-item end-->
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 col-12">
					<div class="pft-item wow fadeInUp" data-wow-delay="900ms">
						<img src="images/resources/pt3.jpg" alt="">
						<div class="figcaption">
							<h2><a href="#" title="">Web site design for curious company</a></h2>
							<a href="#" title=""><img src="images/icon9.svg" alt=""></a>
						</div><!--figcaption end-->
					</div><!--pft-item end-->
				</div>
			</div>
		</div><!--pft-items end-->
	</div>
</section><!--case-studies-section end-->
{% endblock %}